<a href='/index'> На главную <a/> <br/><br/>

Ваш заказ № <b> {{order_id}} </b> <br/>

Информация по заказу: <br/>

<li>  <u>Откуда </u> : {{source}}
<li>  <u>Куда </u> : {{target}}
<li>  <u>Вес </u> : {{weight}}
<li>  <u>Маршрут</u> :
<div>   
    {% for leg in route %} 
        {% if forloop.counter0 == position %}
            <b> <font color="green" > ----> </font> </b>
        {% else %}
            <b> <font color="white" > ----> </font> </b> 
        {% endif %}
        {{leg}} <br>
        {% endfor %}
</div>